<% layout("layouts/boilerplate") %>

<body>
  <h1>Current Wild Pokemon</h1>
  <div class="row">
    <% for( let pokemon of wildPokemon) { %>

    <div class="col-3">
      <div class="card d-inline-block">
        <img
          src="<%= pokemon.Sprite %> "
          class="card-img-top img-fluid"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Lvl <%=pokemon.Level%>. <%=pokemon.Name%></h5>
          <p class="card-text"><%=pokemon.Description%></p>
          <a href="/pokemon/<%=pokemon._id%>" class="btn btn-primary"
            >Show Details</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</body>
